{
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "commonjs": true
  },
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "no-undef": [1]
  },
  "extends": ["plugin:jest/recommended"]
}
