@media screen and (min-width: 800px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    height: 100%;
  }

  .checkboxes {
    display: block;
    flex: 2;
    margin: 100px 30px 0px 30px;
  }

  .graph {
    display: block;
    min-height: 300px;
    flex: 3;
    margin: 100px 50px 70px 50px;
    overflow: hidden;
  }

  .banner {
    position: absolute;
    left: 0;
    top: 0;
  }
}

@media screen and (max-width: 800px) {
  .container {
    display: relative;
  }

  .checkboxes {
    display: block;
    margin: 30px;
  }

  .graph {
    display: block;
    height: 400px;
    overflow-y: hidden;
    margin: 30px;
    padding-bottom: 400px;
  }

  .banner {
    position: relative;
    height: 50px;
    text-align: center;
    background: linear-gradient(#ddd, #fff);
  }

  .fullscreen > .banner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
}

.banner {
  padding: 20px;
}

.fullscreen {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.errormessage {
  font-size: large;
  margin: 30px;
}

.block {
  display: block;
  text-align: center;
}
